@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Custom colors from the-nexus project */
  --color-salmon: #FF8A59;
  --color-green: #00F773;
  --color-ashGray: #c4cec4;
  --color-brightGrey: #53545A;
  --color-raisinBlack: #1A1C23;
  --color-eerieBlack: #242424;
  --color-dimGray: #636A70;
  --color-middleGray: #323232;
  --color-middleGray50: #161616;
  --color-fadedGray: #4C4C4C;
  --color-davysGray: #595C58;
  --color-cadetGray: #9BA1A5;
  --color-darkGrey: #1f1f1f;
  --color-jetGray: #2C2C2C;
  --color-jetBlack: #272827;
  --color-charcoalGray: #454141;
  --color-battleshipGrey: #979696;
  --color-seasalt: #F8F8F8;
  --color-silver: #AAAAAA;
  --color-platinum: #D9D9D9;
  --color-blue: #273058;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-notFound: #1D1F28;
  --color-lightBlue: #94b0ff;
  --color-greenLink: #84CD17;
  --color-tooltipBg: #3d4451;
  --color-tooltipText: #FFFFFF;
  --color-other: #151822;
  --color-footer: #BBBCBE;
  --color-offWhite: #EDEDED;
  --color-yellow: #f3cb53;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #000000;
  --foreground: #FFFFFF;
  --card: #242424;
  --card-foreground: #FFFFFF;
  --popover: #242424;
  --popover-foreground: #FFFFFF;
  --primary: #C5FF01;
  --primary-foreground: #000000;
  --secondary: #C6CEC5;
  --secondary-foreground: #000000;
  --muted: #323232;
  --muted-foreground: #9BA1A5;
  --accent: #323232;
  --accent-foreground: #FFFFFF;
  --destructive: oklch(0.704 0.191 22.216);
  --border: #53545A;
  --input: #323232;
  --ring: #C5FF01;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #1A1C23;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #C5FF01;
  --sidebar-primary-foreground: #000000;
  --sidebar-accent: #323232;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #53545A;
  --sidebar-ring: #C5FF01;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
